header{
	background-image:url("fog.jpg");
	padding:1px
}
.for{
	font-size:4em;
	text-shadow:5px 2px 4px black;
	color:yellow;
	font-family:forte;
}
.fio{
	float:right;
	filter:invert(100%);
	
}
nav{
	padding:1px;
	background-color:orange;
	font-family:Aharoni
}
ul{
	list-style:none;
	display:flex;
	
}
li{
	padding:10px
}
section{
	padding:1px;
	background-color:black;
	color:yellow;
	font-size:1.5em;
}
.no{
	color:black;
	text-decoration:none;
}
a:hover{
	color:green